<h1 class="text-2xl font-bold leading-7 text-gray-500 pt-10 text-center sm:text-3xl sm:truncate">
  The Rand<i class="fa-duotone fa-dice-six"></i>mizer()
</h1>
<h2 class="lg:text-sm font-bold leading-7 text-gray-500 text-center sm:truncate">
  laisse le hasard choisir
</h2>
<div  class="flex justify-center w-11/12 m-auto  sm:w-1/3 lg:w6/12  mt-20 ">
<input (keyup.enter)="createChoice()" [(ngModel)]="input" type="text" name="random" id="random" class="w-1/3 shadow-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="Ajouter un choix">
<button (click)="createChoice()"  type="button" class=" ml-5 inline-flex items-center px-2.5 py-1.5 border border-gray-300 shadow-sm text-xs font-medium rounded text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Ajouter</button>
</div>
<ul class="text-center w-1/3 m-auto mt-10" id="ul">
<!-- <li class="bg-white m-5 h-10 flex justify-center rounded-md text-gray-500 items-center">Choix 1</li> -->

</ul>

<div class="w-1/3 m-auto text-center">
  <button (click)="randomize()" type="button" class="p-9 text-2xl inline-flex items-center p-3 border border-transparent rounded-full shadow-sm text-white bg-sky-600 hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
    <!-- Heroicon name: outline/plus-sm -->
    <i class="fa-duotone fa-wand-sparkles"></i>
  </button>
</div>